/*(header)*/
* {
    background-color: white;
    color: #fff;
    box-sizing: border-box;
}
header {
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 500;
    display: flex;
}
header > div > a {
    padding: 10px;
    text-decoration: none;
}
header > div > a:first-child {
    font-weight: bolder;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
header > div:hover {
    cursor: pointer;
}
.container {
    position: relative;
    left: 350px;
    padding: 10px;
}
/*(header)*/

/*(main)*/
body{
    overflow-x: hidden;
}
main {
    position: relative;
    height: 200vh;
}
main > .main_contents{
    position: absolute;
    height: 90vh;
    background-image: url('./img/main_img.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 200;
}

/*
main > .main_contents > .main_text {
    margin-left: 50px;
    background-color: transparent;
}
main > .main_contents > .main_text > img {
    margin-top: 150px;
    background-color: transparent;
}

main > .main_contents > .main_text > .main_btn {
    display: flex;
    margin-top: 100px;
    background-color: transparent;
}
main > .main_contents > .main_text > .main_btn > button {
    height: 60px;

    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 22px;
}

#btn_play {
    background-color: #fff;
    color: #000;
    width: 150px;
    border: none;
}

#btn_play:hover {
    background-color: rgba(189, 189, 189, 1);
    border: none;
}

#btn_info {
    display: inline-flex;
    background-color: rgba(189, 189, 189, 0.5);
    width: 200px;
    align-items: center;
    justify-content: center;
    border: none;
}

#btn_info:hover {
    background-color: rgba(189, 189, 189, 0.4);
    border: none;
}

#btn_info > img {
    background-color: transparent;
    width: 40px;
    filter: brightness(0) invert(1);
}*/

/* 메인 영상과 겹치는 부분 시작 */
main > .main_contents > p{
    margin-left: 36px;
    margin-top: 720px;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
}
main > .main_contents > .main_imgs{
    margin-left: 36px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
}

main > .main_contents > .main_imgs img:hover{
    transition: transform 0.2s ease-in-out 1s;
    transform: scale(1.4);
}
.inline_div{
    position: relative;
    display: inline;
}
.hidden_div{
    display: inline;
    opacity: 0;
}
.hidden_img:hover + .hidden_div{
    transition: all 0.3s ease-in-out 1s;
    position: absolute;
    top: 56px;
    left: -67px;
    width: 476px;
    height: 200px;
    opacity: 1;
    z-index: 100;
}
/* hidden_img클래스 hover 후 hidden_div클래스 hover 유지하기*/
.hidden_div:hover{
    transition: all 0.3s ease-in-out 1s;
    position: absolute;
    top: 56px;
    left: -67px;
    width: 476px;
    height: 200px;
    opacity: 1;
    z-index: 100;
}
/* 메인 영상과 겹치는 부분 끝 */

/* 메인 영상과 겹치지 않는 부분 시작 */
main > .main_sub_contents{
    position: absolute;
    top: 960px;
    margin-left: 36px;
    white-space: nowrap;
    z-index: 100;
}
main > .main_sub_contents > p{
    font-size: 28px;
}
main > .main_sub_contents > div img:hover{
    transition: transform 0.2s ease-in-out 1s;
    transform: scale(1.4);
}
.inline_div2{
    position: relative;
    display: inline;
}
.hidden_div2{
    display: inline;
    opacity: 0;
}

.hidden_img2:hover + .hidden_div2{
    transition: all 0.3s ease-in-out 1s;
    position: absolute;
    top: 56px;
    left: -67px;
    width: 476px;
    height: 200px;
    opacity: 1;
    z-index: 100;
}
/* hidden_img2클래스 hover 후 hidden_div2클래스 hover 유지하기*/
.hidden_div2:hover{
    transition: all 0.3s ease-in-out 1s;
    position: absolute;
    top: 56px;
    left: -67px;
    width: 476px;
    height: 200px;
    opacity: 1;
    z-index: 100;
}
/* 메인 영상과 겹치지 않는 부분 끝 */
/*(main)*/

/*(footer)*/
footer {
    height: 60vh;
    padding: 100px 0 0 300px;
}
footer > div > a {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 40px;
}
/*(footer)*/
