* {
    color: #fff;
    margin: 0;
}
header {
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 500;
    display: flex;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}
header > div > a {
    padding: 10px;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 14px;
    transition: all 0.3s;
}
header > div > a:hover {
    color: rgb(182, 176, 176);
}
header > div > a:first-child {
    font-weight: bolder;
    pointer-events: none;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
header > div > img:hover {
    cursor: pointer;
}
header > div > div > img:hover {
    cursor: pointer;
}
.container {
    position: absolute;
    left: 80%;
    padding: 15px;
}
.container i {
    padding: 10px;
}
/*페어 1팀 유동적으로 길이 수정*/
main {
    height: 200vh;
}
footer {
    background-color: #141414;
    height: 50vh;
    padding: 100px 0 0 300px;
}
footer > div > div > a {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 20px;
    padding-left: 10px;
}
.footer-wrapper {
    color: grey;
    font-size: 11px;
    line-height: 20px;
}
.label-box {
    border: 1px solid grey;
    color: grey;
    /* width: 90px; */
    height: 30px;
    font-size: 13px;
    margin: 5px 0 15px 0;
    background-color: transparent;
}
.label-box:hover {
    color: #fff;
    cursor: pointer;
}
.box {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 35px);
    margin-top: 10px;
    margin-bottom: 30px;
}
footer > div > div > div > a {
    text-decoration: none;
    color: grey;
    font-size: 13px;
}
footer > div > div > div > a:hover {
    text-decoration: underline;
}
footer > div > div > a > i {
    font-size: 22px;
}
